@model Forte.Weather.Client.Models.LocationDetails
 
@*<div>
    <span class="d-inline-block">Name:</span><span>@Model.Data.Instant.Details.Name</span>
</div>*@
<div>
    <span class="inline-block">Time: </span><span>@Model.Time</span>
</div>
<div>
    <span class="inline-block">Air Pressure: </span><span>@Model.Data.Instant.Details.Air_pressure_at_sea_level</span>
</div>
<div>
    <span class="inline-block">Air Temperature: </span><span>@Model.Data.Instant.Details.Air_temperature</span>
</div>
<div>
    <span class="inline-block">Relative Humidity: </span><span>@Model.Data.Instant.Details.Relative_humidity</span>
</div>
<div>
    <span class="inline-block">Wind Direction: </span><span>@Model.Data.Instant.Details.Wind_from_direction</span>
</div>
<div>
    <span class="inline-block">Wind Speed: </span><span>@Model.Data.Instant.Details.Wind_speed</span>
</div>
<br/>
<div>
    <span class="inline-block">See further weather details at <a href="https://www.yr.no">www.yr.no</a>!</span>
</div>