@page "{handler?}"
@model Forte.Weather.Client.Pages.LocationsModel
@{
}   

<div class="text-center">
    <div style="display: flex; justify-content: center; align-items: center;">
        <h1 class="display-4" style=" display: inline-block">Locations</h1>
        <img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/globe-512.png" style=" max-width:7%; height: auto;"/>
    </div>
    <hr />
</div>

<div class="container">
    <div class="row">
        <div class="col-7">
            <div class="form-horizontal">
                <div class="form-group">
                    <table class="table table-responsive" style="width:600px;">
                            <tr>
                                <th>Location</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                        @foreach (var item in Model.Locations)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Latitude)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Longitude)
                                </td>
                                <td>
                            <button class="btn btn-sm btn-dark details" data-id="@item.ID" data-city="@item.Name" data-lon="@item.Longitude" data-lat="@item.Latitude" data-toggle="modal" data-target="#detailsModal">Details</button>
                        </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="col-1">
        <div class="vl" style="border-left: 3px solid black; height: 300px;margin-left:50%"></div>
        </div>
        <div class="col-4">
            <div class="container">
                <form method="post">
                    <div class="row justify-content-center">
                        <div class="col-8">
                        <h4>Add new location: </h4>
                        <span class="text-center" style="font-size: small">If you are unsure about the coordinates of your place, use: <a href="https://www.latlong.net">www.latlong.net</a>!</span>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <label for="name"> Name: </label>
                            <input class="form-control" asp-for="Input.Name" id="name" maxlength="20" />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <label> Latitude: </label>
                            <input class="form-control" asp-for="Input.Latitude" id="lat" type="number" min="-90" max="90" step=0.01 required />
                        </div>
                        <div class="col-4">
                            <label> Longitude: </label>
                            <td><input class="form-control" asp-for="Input.Longitude" id="long" type="number" min="-180" max="80" step=0.01 required /></td>
                        </div>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <iframe width="970" height="506" src="https://www.youtube.com/embed/j91bBwp9UXs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>



<div class="modal fade" tabindex="-1" role="dialog" id="detailsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Location Weather Details: </h5>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $('button.details').on('click', function () {
                $('.modal-body').load(`/Locations/LocationDetails?lat=${$(this).data('lat')}&lon=${$(this).data('lon')}`);
                $('.modal-title').text("Location Weather Details: " + $(this).data('city'));
                $('#detailsModal').modal('show');
            });
        });
    </script>
}

