@page "{handler?}"
@model Forte.Weather.Client.Pages.LocationsModel
@{
}

<div class="text-center">
    <h1 class="display-4">Locations</h1>
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <table class="table table-responsive" style="width:400px">
                <tr>
                    <th>Location</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                </tr>
                @foreach (var item in Model.Locations) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Longitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Latitude)
                        </td>
                        <td>
                            <button class="btn btn-sm btn-dark details" data-id="@item.ID" data-city="@item.Name" data-lon="@item.Longitude" data-lat="@item.Latitude" data-toggle="modal" data-target="#detailsModal">Details</button>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="detailsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Location Weather Details: </h5>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <form method="post">
        Name:
        <input asp-for="Input.Name" />
        <br />
        Latitude:
        <input asp-for="Input.Latitude" required/>
        <br />
        Longitude:
        <input asp-for="Input.Longitude" required/>
        <br />
        <input type="submit" />
    </form>
</div>




@section scripts{
    <script>
        $(function () {
            $('button.details').on('click', function () {
                $('.modal-body').load(`/Locations/LocationDetails?lat=${$(this).data('lon')}&lon=${$(this).data('lat')}`);
                $('.modal-title').text("Location Weather Details: " + $(this).data('city'));
                $('#detailsModal').modal('show');
            });
        });
    </script>
}
